* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  color: #ededed;
}
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  text-align: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 26px;
  color: #ededed;
  font-weight: 600;
  text-decoration: none;
}
.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #020d14;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}
.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #ededed;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}
.home {
  height: 100vh;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 0 10%;
  align-items: center;
}
.home-content {
  max-width: 600px;
}
.home-content h1 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 54px;
  position: relative;
}
.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #020d14;
  animation: showRight 1s ease forwards;
  animation-delay: 0.1s;
}
.home-content h3 {
  color: #00abf0;
  font-weight: 700;
  font-size: 32px;
  position: relative;
}
.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #020d14;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
}
.home-content p {
  font-size: 1rem;
  margin: 20px 0 40px;
  position: relative;
}
.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #020d14;
  animation: showRight 1s ease forwards;
  animation-delay: 0.6s;
}
.home-content .btn-box {
  width: 345px;
  height: 50px;
  justify-content: space-between;
  position: relative;
}
.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #020d14;
  animation: showRight 1s ease forwards;
  animation-delay: 0.8s;
  z-index: 2;
}
.btn-box a {
  position: relative;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  font-size: 19px;
  color: #081b29;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box a:hover {
  color: #00abf0;
}
.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}
.btn-box a:nth-child(2)::before {
  background: #00abf0;
}
.btn-box a:nth-child(2):hover {
  color: #081b29;
}
.btn-box a::before {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  position: absolute;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}
.btn-box a:hover::before {
  width: 100%;
}
.home-sci {
  bottom: 40px;
  position: absolute;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #020d14;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
}
.home-sci a {
  display: inline-flex;
  text-decoration: none;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #00abf0;
  border-radius: 50%;
  color: #00abf0;
  background: transparent;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-right: 12px;
}
.home-sci a:hover {
  color: #081b29;
}
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}
.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 520px;
  height: 100%;
  background: transparent;
  transition: 3s;
}
.home-imgHover:hover {
  background: #020d14;
  opacity: 0.7;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
